{% extends "blog/base.html" %}

{% block title %}
{{post.title}}
{% endblock title %}

{% block content %}
<h1>{{post.title}}</h1>
<p class="date">
    Opublikowany {{post.publish}} przez {{post.author}}
</p>
{{post.body|linebreaks}}
{% endblock content %}