{% extends "blog/base.html" %}

{% block title %}
blog
{% endblock title %}

{% block content %}

<h1>Mój blog</h1>

{% for post in posts %}
<h2>
    <a href="{{post.get_absolute_url}}">{{post.title}}</a>
</h2>
<p class="date">
    Opublikowany {{post.publish}} przez {{post.author}}
</p>
{{post.body|truncatewords:30|linebreaks}}
{% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock content %}